* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: black;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #ebe8e8;
}

nav p {
  display:flex;
  align-content: flex-end;
  padding: 5px 8px; 
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}    
  
 h1 {
  display:flex;
  flex: flex-start;
  font-size: 30px;
  /* font-family: Georgia, 'Times New Roman', Times, cursive, monospace, serif; */
  /* font-style: italic; */
  max-width: 60%;
  font-family: 'Great Vibes', cursive;
} 

ul {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style-type: none;
}

li {
display: flex;
flex: flex-end;
padding: 10px; 
font-size: 15px;
} 

main {
  display: flex;
}

#aboutMe {
  align-content: flex-end;
  align-items: left;
  background-color: #ebe8e8;
  display: flex;
  flex-direction: column;
  flex: 5%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  border-right: 5px solid black

}

h2 {
  text-decoration: underline;

}

h3 img{
  display: flex;
  align-content: center; 
  margin-left: auto;
  margin-right: auto;
}

section {
  background-image:url(https://www.wallpapertip.com/wmimgs/79-796674_professional-background-images-for-ppt-3-high-resolution.jpg); 
  /* opacity: 0.5; */
  flex: 70%;
  padding: 20px;
  border: black;
  border-style: solid;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* Image Placeholders */
.img1 {
  background-color: none;
  width: 50%;
  padding: 20px;
  height: 200px;
  
}

@media screen and (min-width: 768px) {
  section {
    flex-direction: column;
  }
}




